<nav class="navbar navbar-expand-lg navbar-dark bg-black font-monospace">
  <div class="container-fluid ">
    <div class="m-2">
    <a class="navbar-brand" href="#">Petros Tsimvris</a>
    <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="mx-5 ">
    <div class="collapse navbar-collapse  " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a class="nav-link text-light" aria-current="page" routerLink="/">HOME</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-light" aria-current="page" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-light" aria-current="page" routerLink="/work">WORK</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-light" aria-current="page" href="https://www.linkedin.com/in/petros-tsimvris/"
            target="_blank">LINKEDIN</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link text-light" aria-current="page" href="https://github.com/tsimvris" target="_blank">GITHUB</a>
        </li>
      </ul>
    </div>
    </div>
  </div>
</nav>
