<div class="row bg-info m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-dark m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-primary m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-danger m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-black m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-body m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-secondary m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-success m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-warning m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
<div class="row bg-white m-2 p-1">
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
    <div class="col">fdfds</div>
</div>
